@import 'style'
rojo-google = #e51c23
azul-google = #3f51b5
body
	background #eee
	padding 13% 33%
	overflow hidden
	div#login
		background white
		width 350px 
		height 350px
		box-shadow 1px 3px 22px 0px rgba(0,0,0,0.5)
		form
			padding 10% 10%
			div
				background azul-google
				margin 20% 0
				label
					&::before
						color white
						font-size 20px
						margin-left 3px

				input[type='password']
				input[type='text']
					width 85%
					height 20px
					padding 5.5px

			input[type='submit']
				background azul-google
				color white
				width 100%
				font-size 30px
				border none
				cursor pointer





